<h2>Characters <a href="/characters/new">(+)</a></h2>

<ul>
  <% @characters.each do |artist| %>
    <li>
      <a href="/characters/<%= character.id %>">
        <%= character.name %>
      </a>
    </li>
  <% end %>
</ul>
